<h3>Restaurants!</h3>

<%= link_to 'Add a Restaurant', new_restaurant_path %>

<table>
  <tr>
    <th>Title</th>
  </tr>

  <% @restaurants.each do |restaurant| %>
  <tr>
    <td><%= link_to restaurant.name, restaurant_path(restaurant) %></td>
  </tr>
  <% end %>
</table>
